@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: "Montserrat";
}
body{
    background-color: rgb(0, 0, 93);
}
.login{
    height: 500px;
    background-color: white;
    width:1000px;
    margin-left: 220px;
    margin-top: 100px;
    box-shadow: 5px 10px 15px 2px ;
    display: grid;
    grid-template-areas: 'i1 i2';
}
.i1{
    grid-area: i1;
    background-color: blue;
    width:500px;
    height: 500px;
    background-image: url("/Project/images/back.jpg");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    float: right;
}
.motto{
    padding: 70px;
        font-size: 30px;
        font-family: "Montserrat";
    font-weight: bolder;
    color: white;
}
.login input{
    margin-right: 100px;
    height:35px;
    width: 300px;
    border-radius:3px;
    border-color: transparent;
    font-weight: bold;
    border:none;
    background-color:#dfe5f1 ;
    text-indent: 15px;
}
.login input:hover{
    border-color:#a7aec1;
}
.login input:focus{
    outline: #516395;
}
.login button{
    height:40px;
    width:200px;
    border-radius:6px;
    border:none;
    font-weight: bold;
    color: white;
    background-color:rgb(0, 0, 93);
    margin-left:60px;
}
.i2{
    margin-left: 60px;
}
.navbar{
    background-color: rgb(0, 0, 93);
    height:70px;
    display: flex;
    justify-content:space-around ;
}
ul{
    list-style-type: none;
    display: inline-flex;
    height: 50px;
    margin-top: 10px;
    align-items: center;
}
li{
    padding-right: 20px;
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 14px 16px;
    transition: background-color 1s ;
    border-radius: 10px;
}
li:hover{
    background-color: aliceblue;
    text-align: center;
    color: #516395;
    border-radius: 10px;
}
.book{
    width:900px;
    height:190px;
    background-color: white;
    margin-left: 300px;
    border-radius: 6px;
    margin-top: 170px;
    position: relative;
    border:1.5
}
.circle1{
    width:100px;
    height: 100px;
    background-color:#488bc2;
    border-radius: 50%;
    opacity: 0.2;
    margin-left: 40px;
    margin-top: 80px;
}
.circle2{
    width:300px;
    height: 300px;
    background-color: 
    #488bc2;
    border-radius: 50%;
    opacity: 0.2;
    margin-left: 190px;
    margin-top: 100px;
}
.circle3{
    width:200px;
    height: 200px;
    background-color: 
    #488bc2;
    border-radius: 50%;
    opacity: 0.2;
    margin-left: 380px;
    margin-top: 30px;
}
.circle4{
    width:120px;
    height: 120px;
    background-color: 
    #488bc2;
    border-radius: 50%;
    opacity: 0.2;
    float: right;
}
.circles{
    display: flex;
    position: absolute;
}
select,input{
    width: 190px;
    height: 38px;
    border-radius:5px;
    color:#516395;
    text-align:100px;
    border-top: none;
    border-left: none;
    border-bottom: 3px solid rgb(0, 0, 93);
    border-right: 3px solid rgb(0, 0, 93);    
}
.formHomeLine1 {
    display: flex;
    justify-content: space-evenly;
    margin-right:220px;
    margin-left:0px;
}
select[name="seattype"]{
    margin-left: 20px;
}
input[type="submit"]{
    color: white;
    background-color: rgb(0, 0, 93);
    margin-left:30px;
    border: 2px solid rgb(0, 0, 93);
}
.slogan{
    margin-top:250px;
    margin-left: 300px;   
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 93);
}
footer{
    background-color: rgb(0, 0, 93);
    margin: 0;  
}
.fpara{
    color: white;
    text-align: center;
    font-size: 10px;
}
.fa-twitter {
    background: rgb(0, 0, 93);
    color: white;
  }
  .fa-google {
    background:rgb(0, 0, 93);
    color: white;
  }
  .fa-linkedin {
    background:rgb(0, 0, 93);
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    height: 10px;
    text-align: center;
    text-decoration: none; 
  }
  .icons{
    text-align: center;
  }
  .booking{
    height:680px;
    width: 1400px;
    background-color: #f0f0f0;
    margin-top: 15px;
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 20px;
  }
  li a{
    text-decoration: none;
    color:white;
  }
  li a:hover{
    color:rgb(0, 0, 93)
  }
  .bookingform input{
        background-color: #f0f0f0;
        width: 250px;
        border-radius: 0;
        border-right:1px solid rgb(0, 0, 93); 
        border-bottom:1px solid rgb(0, 0, 93); 
  }
  .hidden{
    display: none;
  }
  .boarding{
    width: 40px;
    height: 30px;
  }
  .submitbutton{
    color: white;
    background-color: rgb(0, 0, 93);
    margin-left:30px;
    border: 2px solid rgb(0, 0, 93);
  }
.offer{
    width: 100%;
    height:480px;
    background-image: url("/Project/images/offer.jpeg");
    background-size: cover;
}
.cards{
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
    gap:70px;
}
.carder img{
    width:600px;
    height: 350px;

}
.carder{
    width: 600px;
    height: 550px;
    border: none;
}
.carder p{
    color: rgb(0, 0, 93);
}
.carder h4{
    color: rgb(0, 0, 93);
    font-weight: bold;
}
.cards2{
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
    gap:70px;
}
.carder1 img{
    width:380px;
    height: 170px;

}
.carder1{
    width: 380px;
    height: 320px;
    border: none;
}
.carder1 p{
    color: rgb(0, 0, 93);
}
.carder1 h4{
    color: rgb(0, 0, 93);
    font-weight: bold;
}
.MyBooking{
    width:100%;
    height: 644px;
}
.displaybox{
    width: 95%;
    height: 80%;
    background-color: #f0f0f0;
    margin-left: 40px;
}